
<div class="card-body" style="width: 570px; height: 600px;">
  <div mat-dialog-content>
    <form [formGroup]="_contactForm" (ngSubmit)="groupmessageModal(_contactForm.value)">
      <div class="form-group">
        <label>New Group Message</label>
        <br>
        <br>
        <mat-form-field >
          <mat-label>Port Name</mat-label>
          <mat-select formControlName="port_name">
            <div *ngIf="smsport">
              <mat-option *ngFor="let portName of smsport" [value]="portName.port_name">
                {{portName.port_name }}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <mat-label>Group Name</mat-label>
          <mat-select formControlName="group">
            <div *ngIf="groupNames">
              <mat-option *ngFor="let groupName of groupNames" [value]="groupName.group_name">
                {{groupName.group_name }}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <div class="form-group">
        <label for="comment">Add Your message here</label>
        <textarea class="form-control"
                  id="comment"
                  rows="6"
                  style="height: 250px;"
                  formControlName="message"
                  name="contact_message" >

        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send Group Message</button>
    </form>
  </div>
</div>

