<div class="card-body" style="width: 540px; height: 510px;">
  <div mat-dialog-content>
    <form  (submit)="onSubmit()" [formGroup]="_contactForm">
      <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text"
               id="groupName"
               class="form-control"
               formControlName="group_name"
               required>
        <!-- [(ngModel)="groupName" -->
        <!--    <div class="alert alert-danger">Group Name Required</div> -->
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea type="text"
                  class="form-control"
                  rows="2"
                  formControlName="description"
                  ngModel
                  name="description"></textarea>
      </div>
      <div class="form-group">
        <label>Number of Contact</label>
        <input type="email"
               class="form-control"
               formControlName="no_of_contact"
               ngModel
               name="no_of_contact">
      </div>
      <div class="form-group">
        <label>Created Date</label>
        <input type="date"
               class="form-control"
               formControlName="_date"
               ngModel
               name="_date">
      </div>
      <br>
      <br>
      <button id="btn" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
