<h3>Grouped Contact</h3>
<hr>
<div class="card" style="float: left; margin-top: 40px; height: 170px; width: 1200px;margin-left: 20px;">
  <div class="card-header" style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">
    <p style="font-size: medium">  Contact Groups</p>
    <p>Here is Grouped Contact List</p>
    <p style="color:blue;">Back To Groups</p>
  </div>
</div>


<div class="card" style="float: left;width: 1200px;margin-left: 20px;">
  <div class="card-header" style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">
    <p style="font-size: medium">Grouped Contacts</p>
    <p>Here is Grouped Contact List</p>
    <p style="color: blue">Add New Contact | Import Contacts | Get Contacts</p>
  </div>

  <div class="table-responsive">
    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Date Time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
