<div class="card" style="float: left; margin-top: 40px;width: 1200px;margin-left: 20px;"
     xmlns:text-decoration="http://www.w3.org/1999/xhtml">
  <div class="card-header" style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">
    <h6>Contact Groups</h6>
    <p (click)="add_group_message()" style="text-decoration:none;color:blue"
    onmouseover="style='text-decoration:underline;color:blue';"
    onmouseout="style='text-decoration:none;color:blue'">New Group Message </p>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>#</th>
          <th scope="col">Sent Message</th>
          <th scope="col">Group Name</th>
          <th scope="col">Campaign Name</th>
          <th scope="col">Sent Msg Count</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group_msg of dataSource | paginate: { id: 'listing_pagination',
            itemsPerPage: per_page,
            currentPage: page,
            totalItems: total }; let i = index" scope="row">

          <td>{{i+1}}</td>
          <td>{{group_msg.message}}</td>
          <td>{{group_msg.group_id}}</td>
          <td></td>
          <td>{{count}}</td>
          <td>{{group_msg.created_at | date : 'short'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
