
Contact List
<hr>
<div class="card" style="float: left; margin-top: 40px; width: 1200px;margin-left: 20px;">
  <div class="card-header" style="white-space: nowrap; text-overflow: ellipsis;">
    <p style="font-size: 26px">Contacts</p>
    <p (click)="addContact()" style="text-decoration:none;color:blue"
       onmouseover="style='text-decoration:underline;color:blue';"
       onmouseout="style='text-decoration:none;color:blue'">ADD CONTACT | IMPORT CONTACT | </p>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Email</th>
          <th scope="col">Fellow Department</th>
          <th scope="col">Acadamic Department</th>
          <th scope="col">Graduate year</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of dataSource | paginate: { id: 'listing_pagination',
                                                          itemsPerPage: per_page,
                                                          currentPage: page,
                                                          totalItems: total }; let i = index">
          <td>{{i+1}}</td>
          <td>{{contact.full_name }}</td>
          <td>{{contact.phone_number}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.fellow_dep}}</td>
          <td>{{contact.acadamic_dep}}</td>
          <td>{{contact.graduate_year}}</td>

          <!--   <td>{{Contact.gender}}</td> -->
        </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="collectionOfcon($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>


