<div class="app-body" style="margin-top: 9%;">
  <main class="main d-flex align-items-center">    
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                
                  <h1>registration</h1>

        
                  <form class="user" >
                    <div class="form-group row">
                     
                    
                        <input type="text" class="form-control form-control-user" id="User Name" ngModel name="username"
                         placeholder="User Name">
                      
                    </div> 
                     <!--<div  class="form-group row">
                      
                        <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                      
                    </div>-->
                    <div class="form-group row">
                     
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" ngModel name="email" placeholder="Email Address">
                    
                  </div>
                    <div class="form-group row">
                     
                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" ngModel name="password"placeholder="Password">
                    
                    </div>
                    <div class="form-group row">
                      
                        <input type="password" class="form-control form-control-user" id="exampleRepeatPassword"ngModel name="c_password" placeholder="Repeat Password">
                     
                    </div>
                    <a href="login.html" class="btn btn-primary btn-user btn-block">
                      signin
                    </a>
                    

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
