<div style="margin-left: 70px">
<div style="margin-top: 120px; width: 600px;">
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  <br>
  <button class="btn btn-primary" type="submit">Send</button>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4" style="float: left; margin-top: 140px; width: 1200px;">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Admins List</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Admin Name</th>
          <th>campus</th>
          <th>email</th>
          <th>phone number</th>
          <th>Registered date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Tiger Nixon</td>
          <td>System Architect</td>
          <td>Edinburgh@gmai.com</td>
          <td>09878787761</td>
          <td>2011/04/25</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
