<div class="logo" style="align-content: center">
    <a href="https://www.gcmethiopia.org" class="simple-text">
        <div class="logo-img">
            <!--  <img src="/assets/img/angular2-logo-red.png"/> -->
        </div>
        <h4 style="color: #0b3251"> Campus SMS </h4>
    </a>
    <hr>
     <h5 style="color: #5d4037;margin-left: 30px">{{user}}</h5>
</div>


<div class="sidebar-wrapper">

    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>

        </li>
    </ul>
</div>

<!-- <mat-expansion-panel *ngIf="menuItem.title === 'Manage Contact'" style="cursor: pointer;">
               <mat-expansion-panel-header style="margin-bottom: 0">
                   <mat-panel-title><i class="material-icons">{{menuItem.icon}}</i>  </mat-panel-title>
               </mat-expansion-panel-header>
               <mat-list style="margin-top: 0">
                   <mat-list-item>
                       <a class="btn"  [routerLink]="[menuItem.path]">
                           <i style="font-size: 22px"></i>
                           Contact List</a>
                   </mat-list-item>
                   <mat-list-item>
                       <a class="btn" routerLink="/admin/group-contacts">
                           Group Contact
                       </a>
                   </mat-list-item>
               </mat-list>
           </mat-expansion-panel>

           <mat-expansion-panel *ngIf="menuItem.title === 'Messages'" style="cursor: pointer;">
               <mat-expansion-panel-header style="margin-bottom: 0">
                   <mat-panel-title><i class="material-icons">{{menuItem.icon}}</i>  </mat-panel-title>
               </mat-expansion-panel-header>
               <mat-list style="margin-top: 0">
                   <mat-list-item>
                       <a class="btn"  [routerLink]="[menuItem.path]">
                           <i style="font-size: 22px"></i>
                           Contact Messages</a>
                   </mat-list-item>
                   <mat-list-item>
                       <a class="btn" routerLink="/admin/group-message">
                           Group Messages
                       </a>
                   </mat-list-item>
                   <mat-list-item>
                       <a class="btn" routerLink="/admin/scheduled-message">
                           Scheduled Messages
                       </a>
                   </mat-list-item>
               </mat-list>
           </mat-expansion-panel> -->

