mat-card {
  max-width: 500px;
 // height: 200px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
  margin-top: 40px;
  left: 50%;
}
.full-width-input {
  width: 100%;
}
.background{
  height: 840px;
  width: 100%;
 // background-color: #0b75c9;
 // background-image: url("/assets/img/bg-image.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

